/* 
Aqui se guardaran las variables para css usando :root o variantes :p
Creado por: Jesus Alejandro Lara

*/
@font-face {
    font-family: 'Mistral';
    src: url('fonts/mistral.ttf') format('truetype');
  }
  
  :root {
    /* header */
    --bg-header: #e4f4f700;
    --bg-header-full: #e4f4f7;
    /* footer */
    --bg-footer: #6adff7;
    --color-footer:#212529;

    
}