footer {
    background-color: #f1f1f1;
    padding: 40px 80px; /* Ajuste para pantallas grandes */
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para escritorio */
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.footer-section {
    padding: 0px 20px;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #007BFF;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    grid-column: span 2; /* Ocupa las dos columnas en pantallas grandes */
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}

.footer-logo-img {
    width: 130px;
    height: auto;
    margin-bottom: 10px;
}

.footer-social {
    margin-top: 20px;
}

.footer-social-icon {
    width: 30px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-social-icon:hover {
    transform: scale(1.1);
}

.mapita {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #ccc;
}

/* Ajuste para pantallas grandes */
@media (min-width: 1050px) {
    .footer-container {
        padding: 0 200px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsividad */
@media (max-width: 1010px) {
    footer {
        padding: 30px 60px;
    }

    .footer-container {
        grid-template-columns: 1fr; /* Una columna en pantallas medianas */
        gap: 25px;
    }

    .footer-section {
        text-align: center;
        padding: 15px;
    }

    .footer-bottom {
        font-size: 12px;
        margin-top: 20px;
    }

    .footer-logo-img {
        width: 110px;
    }

    .footer-social-icon {
        width: 25px;
        margin: 0 8px;
    }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 480px) {
    footer {
        padding: 20px;
    }

    .footer-container {
        padding: 0;
        grid-template-columns: 1fr;
    }

    .footer-section {
        padding: 10px;
    }

    .footer-logo-img {
        width: 90px;
    }

    .footer-social-icon {
        width: 20px;
        margin: 0 6px;
    }

    .footer-bottom {
        font-size: 10px;
    }
}
