.header-container {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.header-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-container h1 {
    margin: 0;
    font-size: 1.8rem;
}

.header-container a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #0073e6;
    
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-container a:hover {
    background-color: #005bb5;
    color: white;
}

.padding--60-0{
    padding: 60px 0;
}        
/* Estilo general para el contenedor principal */
.container {
    display: grid;
    grid-template-areas:
        "left-top center top-right"
        "left center right"
        "bottom-left bottom-center bottom-right";
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo para los enlaces dentro del contenedor */
.container > a {
    width: 220px;
    min-height: 80px;
    height: 100%;
    background-color: #0073e6;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Efecto hover para los enlaces */
.container > a:hover {
    background-color: #005bb5;
}

/* Estilos para la sección .center */
.center {
    grid-area: center;
    width: 800px;
    height: 500px;
    background: linear-gradient(45deg, #7f7eff, #67e6dc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Imagen dentro de .center */
.center img {
    max-width: 80%;
}

/* Estilos para las áreas del grid */
.top-left { grid-area: left-top; }
.top-right { grid-area: top-right; }
.left { grid-area: left; }
.right { grid-area: right; }
.bottom-left { grid-area: bottom-left; }
.bottom-right { grid-area: bottom-right; }

/* Estilos para .bottom-center */
.bottom-center {
    grid-column: 1 / 4; /* Ocupa las 3 columnas */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 5px;
    justify-items: center;
    padding: 10px;
}

/* Estilos para los enlaces dentro de .bottom-center */
.bottom-center-item {
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-color: #0073e6;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Estilo general para los enlaces y botones */
.container > a, .bottom-center-item {
    font-size: 30px;
}

/* Efecto hover para los botones dentro de .bottom-center */
.bottom-center-item:hover {
    background-color: #005bb5;
    color: white;
}

/* Responsividad para resoluciones pequeñas */
@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "center"
            "top-left"
            "top-right"
            "left"
            "right"
            "bottom-left"
            "bottom-center"
            "bottom-right";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .container > a {
        width: 100%;
        margin: 5px 0;
    }

    .center {
        width: 150px;
        height: 150px;
    }

    .center img {
        max-width: 100%;
    }
}

/* Asegurar que los elementos a partir del noveno ocupen las 3 columnas */
.container > a:nth-child(n+9) {
    grid-column: span 3;
    justify-self: center;
}

/* Estilos para el ícono dentro de .center */
.center i {
    font-size: 8rem;
    color: white;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

/* Nueva funcionalidad para ocultar y mostrar contenedores según resolución */
#old-container {
    display: grid;
}

#new-container {
    display: none;
}

/* Mostrar el contenedor nuevo en resoluciones más pequeñas */
@media (min-width: 1010px) {
    #old-container {
        display: none; /* Ocultar el contenedor antiguo */
    }

    #new-container {
        display: grid; /* Mostrar el contenedor nuevo */
    }
}



.gradient-background {
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
