.header-container {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.header-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-container h1 {
    margin: 0;
    font-size: 1.8rem;
}

.header-container a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #0073e6;
    
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-container a:hover {
    background-color: #005bb5;
    color: white;
}

.program-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.padding--60-0{
    padding: 60px 0;
}

.program-grid a {
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #0073e6;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.program-grid a:hover {
    background-color: #005bb5;
}

.career-info {
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.career-info h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #0073e6;
}

.career-info p {
    font-size: 1.2rem;
    color: #333;
}

.career-info img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    font-size: 4rem;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
}

.career-info a {
    margin: 10px auto;
    display: inline-block;
    padding: 12px 25px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.career-info a:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

.gradient-background {
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1024px) {
    .program-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .header-container{
        display: inline-block;
        
    }
    .program-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}


@media (max-width: 768px) {


    .program-grid {
        grid-template-columns: 1fr 1fr;
    }


}
