.bienvenida-container {
    background: url(./../img/UniVO-blanco.png) no-repeat center center/cover;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1600px;
    margin: 50px auto;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    backdrop-filter: blur(8px);
    border-left: 6px solid #003366;
    border-right: 6px solid #003366;
    position: relative;
    z-index: 1;
}

.bienvenida-title {
    text-align: center;
    font-size: 2.6rem;
    color: #002f4b;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #002f4b;
}

.bienvenida-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #333333;
}

.quote {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    color: #002f4b;
    margin: 30px 0;
    border-left: 4px solid #002f4b;
    padding-left: 20px;
}

.signature {
    font-size: 1.1rem;
    text-align: right;
    color: #002f4b;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Georgia', serif;
}

.bienvenida-container p {
    margin-bottom: 25px;
    line-height: 1.8;
}

.bienvenida-container ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.bienvenida-container li {
    font-size: 1.1rem;
    color: #333333;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.bienvenida-container li::before {
    content: "•";
    color: #003366;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: 0;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    .bienvenida-container {
        padding: 30px;
    }
    .bienvenida-title {
        font-size: 2.2rem;
    }
    .quote {
        font-size: 1.3rem;
    }
}

@media (max-width: 992px) {
    .bienvenida-container {
        padding: 20px;
        max-width: 90%;
    }
    .bienvenida-title {
        font-size: 2rem;
    }
    .bienvenida-content p,
    .bienvenida-container li {
        font-size: 1rem;
    }
    .quote {
        font-size: 1.2rem;
    }
    .signature {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .bienvenida-title {
        font-size: 1.8rem;
    }
    .bienvenida-content p,
    .bienvenida-container li,
    .quote {
        font-size: 1rem;
    }
    .bienvenida-container {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .bienvenida-container {
        padding: 10px;
        border-left: none;
        border-right: none;
    }
    .bienvenida-title {
        font-size: 1.6rem;
    }
    .quote {
        font-size: 1rem;
        padding-left: 15px;
    }
    .signature {
        font-size: 0.9rem;
    }
}
