/* Programas */
.univo-titulo-seccion {
    margin-top: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Definir correctamente el grid */
    gap: 20px;
    

    
}

.univo-programa {
    background-color: #fff;
    
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    max-height: 300px;
    

    overflow: hidden;
    box-sizing: border-box;
}

.univo-programa h4 {
    font-size: 1.4rem;
    color: #333;
    margin: 10px;
    font-weight: 600;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 8px;
}

.univo-programa i {
    color: #392E72;
    margin-bottom: 10px;
    font-size: 2.5rem;
    transition: transform 0.3s ease;
}

.univo-programa i:hover {
    transform: scale(1.1);
}

.univo-programa p {
    color: #666;
    word-break: break-all;
    overflow-wrap: anywhere;
    text-align: center;
    font-size: 0.9rem;
}

/* Radio Buttons */
.radio-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none!important;
    margin-bottom: 20px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container .radio-label {
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.radio-container input[type="radio"]:checked + .radio-label {
    background-color: #392E72;
    color: #fff;
}
/* Responsividad */
@media (min-width: 769px) {
    .univo-facultad {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        
    }

    .univo-programa {
        padding: 15px 5px 15px 5px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste del número de columnas en pantallas pequeñas */
    }

    .univo-programa {
        max-width: 100%;
        
        
        min-height: 200px;
        
        padding: 5px;
        margin: auto;
    }

    .univo-programa h4 {
        font-size: 1.2rem; /* Ajusta el tamaño del título */
    }

    .univo-programa p {
        font-size: 0.8rem; /* Fuente un poco más grande */
    }
}

@media (max-width: 480px) {
    .univo-programa {
        width: 100%;
        padding: 10px;
    }

    .univo-programa h4 {
        font-size: 1rem; /* Tamaño aún más pequeño */
    }

    .univo-programa p {
        font-size: 0.3rem; /* Más pequeño */
    }
}
