/* Programas */
.univo-titulo-seccion{
    margin-top: 100px;
}

.univo-programa {
    background-color: #fff;
    place-self: center;
    border-radius: 8px; /* Reduje el radio de borde para un diseño más compacto */
    padding: 8px; /* Reducido el padding para que ocupe menos espacio */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;


    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin: 10px;
    width: 100%;
    max-width: 300px; /* Ancho más pequeño */
    min-height: 300px; /* Menor altura mínima */
    max-height: 400px; /* Limité la altura máxima */
    overflow: hidden;
    box-sizing: border-box;
}

.univo-programa h4 {
    font-size: 1.4rem; /* Reduje el tamaño de la fuente */
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 8px;
}

.univo-programa i {
    color: #392E72;
    margin-bottom: 10px;
    font-size: 2.5rem; /* Reducido el tamaño del ícono */
    transition: transform 0.3s ease;
}

.univo-programa i:hover {
    transform: scale(1.1);
}

.univo-programa p {
    color: #666;
    word-wrap:normal;
    overflow-wrap:anywhere;
    text-align: center;
    font-size: 0.9rem; /* Fuente más pequeña */

}

/* Radio Buttons */
.radio-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-bottom: 20px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container .radio-label {
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.radio-container input[type="radio"]:checked + .radio-label {
    background-color: #392E72;
    color: #fff;
}
/* Responsividad */
@media (min-width: 1500px){
    .univo-facultad{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .univo-programa {
        width: 100%;
        max-width: 90%; /* Ocupa el 90% del ancho disponible */
        min-height: auto;
        padding: 6px;
    }

    .univo-programa h4 {
        font-size: 1.2rem; /* Ajusta el tamaño del título */
    }

    .univo-programa p {
        font-size: 0.85rem; /* Fuente más pequeña para dispositivos pequeños */
    }
}

@media (max-width: 333px) {
    .univo-programa {
        width: 100%;
        padding: 5px;
        max-width: 100%;
        min-height: auto;
    }

    .univo-programa h4 {
        font-size: 1rem; /* Más pequeño en pantallas ultra pequeñas */
    }

    .univo-programa p {
        font-size: 0.8rem; /* Más pequeño */
    }
}
