.contenido{
    position: relative;
    /* border: 10px solid black; */
    padding: 80px;
    transform: translateY(235px);
    height: 2000px;
}

@media (max-width: 1094px) {
    .contenido{
        /* border: 1px solid black; */
        transform: translateY(150px);
        
    }
}