/* 
Aqui se guardaran las variables para css usando :root o variantes :p
Creado por: Jesus Alejandro Lara

*/
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body{
    font-family: "Itim", cursive;
    /* font-weight: 400; */
    cursor: url(./../img/image.png),auto;
    font-style: normal;
  }
:root {
    /* header */
    --bg-header: #e4f4f7;

    /* footer */
    --bg-footer: #6adff7;
    --color-footer:#212529;

    
}