/* Contenedor de la galería */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 40px 0;
    width: 95%;
    margin: auto;
}

/* Estilo de los enlaces que contienen las imágenes */
.galeria a {
    position: relative;
    overflow: hidden;
    display: block;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Estilo de las imágenes dentro de la galería */
.galeria img {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    display: block;
    border-radius: 5px;
    transition: transform 0.5s ease, filter 0.3s ease;
}

/* Estilo del texto que aparece sobre las imágenes */
.texto-imagen {
    position: relative;
    
    left: 50%;
    transform: translate(-50%, -50%);

    
    width: 50%;
    margin: 40px 0px 0px 0px;
    /* background: rgba(35, 34, 34, 0.6);  */
    /* Fondo negro semitransparente */
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    opacity: 1; /* Siempre visible */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}
.texto{
    padding: 0px 40px 0 40px;
}
/* Cambios en el estilo del texto al hacer hover */
.galeria a:hover .texto-imagen {
    /* background: rgba(0, 0, 0, 0.8); Cambia a fondo blanco con opacidad */
    color: rgb(72, 72, 72); /* Cambia el color del texto a negro */
}

/* Efecto de hover sobre la imagen */
.galeria a:hover img {
    filter: brightness(1.2); /* Ligero brillo al hacer hover */
    transform: scale(1.05);
}

/* Efecto de hover sobre el enlace (para hacerlo más atractivo) */
.galeria a:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}


/* Estilo del lightbox */
.light-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: transform 0.3s ease-in-out;
    transform: scale(0);
}

.light-box img {
    width: 60vw;
    max-height: 80vh;
    border-radius: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); /* Sombra más marcada para el lightbox */
}

/* Abrir el lightbox al hacer clic */
.light-box:target {
    transform: scale(1);
}

/* Botón de cierre del lightbox */
.close {
    position: absolute;
    top: 40px;
    right: 40px;
    background: red;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.close:hover {
    background: darkred;
}
