/* Código de header
Creado por: Jesus Alejandro Lara
*/
@import url(estilos.css);

/* Encabezado fijo */
.encabezado {
    background: var(--bg-header);
    animation: var(--bg-animation);
    position: fixed;
    width: 100%;
    height: 170px;
    top: 0;
    z-index: 1;
    border-bottom: 5px solid #41B1E0;
}

/* Estilos para el contenedor del logo */
.logo-container {
    text-align: center;
    padding: 20px 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.logo {
    max-width: var(--logo-max-width);
    height: var(--logo-height);
    transition: transform 0.3s ease;
}

/* Barra de navegación */
.barra-navegacion #nav_list {
    list-style: none;
    padding-top: 90px;
    
    text-align: center;
}

.barra-navegacion ul li {
    z-index: 2;
    display: inline;
    margin: 0 15px;
    position: relative;
}

.barra-navegacion ul li a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 4px;
    transition: background-color 0.4s ease, color 0.3s ease, transform 0.3s ease;
}

.barra-navegacion ul li a:hover {
    color: var(--nav-link-hover-color);
    background-color: rgba(0, 123, 255, 0.1); /* Fondo de hover */
    transform: translateY(-3px) scale(1.05); /* Efecto de elevación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

/* Botón de menú para pantallas pequeñas */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--nav-link-color);
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

/* Estilo para el ícono cuando está activo */
.nav-toggle.is-active {
    transform: rotate(180deg);
}

.nav-toggle .bi-x-lg {
    display: none;
}

.nav-toggle.is-active .bi-list {
    display: none;
}

.nav-toggle.is-active .bi-x-lg {
    display: block;
}

/* Lista de navegación */
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 5px;
}

.nav-list li {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 10px 0;
}

.nav-list li a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    padding: 12px 10px;
    font-size: 18px;
    display: block;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05); /* Fondo leve */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-list li a:hover {
    color: var(--nav-link-hover-color);
    background-color: #f0f0f0; /* Fondo más claro en hover */
    transform: scale(1.08);
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    background-color: #ffff;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: 220px;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
}

.submenu_2 {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #ffff;
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    width: 220px;
    opacity: 0;
    transform: translateX(-10px);
    transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
    left: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Mostrar submenús al hacer clic */
.nav-list > li.active > .submenu,
.submenu li.active > .submenu_2 {
    display: block;
    opacity: 1;
    transform: translateY(0);
    background-color: #f9f9f9; /* Fondo del submenú */
    transition: opacity 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
}


/* Estilos para dispositivos grandes */
@media (min-width: 1095px) {
    .logo-container {
        display: none;
    }

    .logo-container_max {
        position: absolute;
        width: 100%;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 200px;
        justify-content: center;
        column-gap: 70%;
        display: flex;
        z-index: 1;
    }
}

/* Estilos para dispositivos medianos */
@media (max-width: 1094px) {
    .encabezado{
        height: 130px;
    }
    .logo-container_max {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        position: absolute;
        top: 0%;
        left: 0;

        width: 100%;
        margin: 0px 0px 20px 0px;
        
        border-radius: 5px;
        padding: 5px 0;

    }

    .nav-list.active {
        display: flex;
        
    }

    .nav-list li {
        display: none;
        margin: 0;
        width: 100%;
        padding-right: 30px;
        padding-top: 15px;
    }
    .barra-navegacion ul li a:hover{
        transform: none;
    }

    .nav-toggle {
        display: block;
        position: relative;
        z-index: 2;
        font-size: 50px;
        
    }

    .logo-container {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 20px;
        text-align: center;
        transition: height 0.3s ease, opacity 0.3s ease;
        height: 150px;
        overflow: hidden;
    }

    /* Submenús en dispositivos móviles */
    .submenu {
        position: relative;
        width: 100%;
        z-index: 1;
        opacity: 0;
        max-height: 350px;
        height: auto;
        overflow: auto;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .submenu_2 {
        position: relative;
        width: auto;
        margin: 0px 20px 20px 20px;
        left: 0;
        text-align: center;
    }

    .nav-list li.active {
        opacity: 1;
        overflow: auto;
        height: 70%;
        max-height:70%;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 700px) {
    .logo-container {
        display: none;
    }
}

/* Estilos para dispositivos específicos */

/* iPhone SE */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .encabezado {
        height: 100px;
    }
    .logo {
        max-width: 80px;
        height: auto;
    }
    .nav-list li a {
        font-size: 14px;
        padding: 10px 8px;
    }
}

/* iPhone XR */
@media screen and (max-width: 414px) and (max-height: 896px) {
    .encabezado {
        height: 110px;
    }
    .logo {
        max-width: 90px;
        height: auto;
    }
    .nav-list li a {
        font-size: 16px;
        padding: 10px 10px;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) and (max-height: 844px) {
    .encabezado {
        height: 110px;
    }
    .logo {
        max-width: 85px;
        height: auto;
    }
    .nav-list li a {
        font-size: 15px;
        padding: 10px 9px;
    }
}

/* iPhone 14 Pro Max */
@media screen and (max-width: 430px) and (max-height: 932px) {
    .encabezado {
        height: 120px;
    }
    .logo {
        max-width: 95px;
        height: auto;
    }
    .nav-list li a {
        font-size: 17px;
        padding: 12px 10px;
    }
}

/* Pixel 7 */
@media screen and (max-width: 412px) and (max-height: 915px) {
    .encabezado {
        height: 115px;
    }
    .logo {
        max-width: 90px;
        height: auto;
    }
    .nav-list li a {
        font-size: 16px;
        padding: 11px 9px;
    }
}

/* Samsung Galaxy S8+ */
@media screen and (max-width: 360px) and (max-height: 740px) {
    .encabezado {
        height: 100px;
    }
    .logo {
        max-width: 80px;
        height: auto;
    }
    .nav-list li a {
        font-size: 14px;
        padding: 9px 7px;
    }
}

/* Samsung Galaxy S20 Ultra */
@media screen and (max-width: 412px) and (max-height: 915px) {
    .encabezado {
        height: 100px;
    }
    .logo {
        max-width: 90px;
        height: auto;
    }
    .nav-list li a {
        font-size: 16px;
        padding: 11px 9px;
    }
}

/* iPad Mini */
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .encabezado {
        height: 200px;
    }
    .logo {
        max-width: 100px;
        height: auto;
    }
    .nav-list{
        transform: translateY(10%);
    }
    .nav-list li a {
        font-size: 18px;
        padding: 12px 10px;
    }
}

/* iPad Air */
@media screen and (max-width: 834px) and (max-height: 1194px) {
    .encabezado {
        height: 160px;
    }
    .logo {
        max-width: 130px;
        height: auto;
    }
    .nav-list{
        transform: translateY(8%);
    }
    .nav-list li a {
        font-size: 19px;
        padding: 13px 12px;
    }
}
/* iPad Pro */
@media screen and (max-width: 1024px) and (max-height: 1366px) {
    .encabezado {
        height: 160px;
    }

    .logo {
        max-width: 140px;
    }

    .nav-list li a {
        font-size: 20px;
    }
}

/* Surface Pro 7 */
@media screen and (max-width: 912px) and (max-height: 1368px) {
    .encabezado {
        height: 150px;
    }

    .logo {
        max-width: 130px;
    }

    .nav-list li a {
        font-size: 18px;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) and (max-height: 720px) {
    .encabezado {
        height: 120px;
    }

    .logo {
        max-width: 100px;
    }

    .nav-list li a {
        font-size: 16px;
        padding: 8px 5px;
    }
}

/* Galaxy Z Fold 5 */
@media screen and (max-width: 344px) and (max-height: 882px) {
    .encabezado {
        height: 100px;
    }

    .logo {
        max-width: 80px;
    }

    .nav-list li a {
        font-size: 14px;
        padding: 7px 5px;
    }
}

/* ASUS Zenbook Fold */
@media screen and (max-width: 853px) and (max-height: 1280px) {
    .encabezado {
        height: 140px;
    }

    .logo {
        max-width: 120px;
    }

    .nav-list li a {
        font-size: 18px;
    }
}

/* Samsung Galaxy A51/71 */
@media screen and (max-width: 412px) and (max-height: 914px) {
    .encabezado {
        height: 110px;
    }

    .logo {
        max-width: 90px;
    }

    .nav-list li a {
        font-size: 15px;
        padding: 9px 6px;
    }
}

/* Nest Hub */
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .encabezado {
        height: 150px;
    }

    .logo {
        max-width: 130px;
    }

    .nav-list li a {
        font-size: 18px;
    }
}

/* Nest Hub Max */
@media screen and (max-width: 1280px) and (max-height: 800px) {
    .encabezado {
        height: 160px;
    }

    .logo {
        max-width: 140px;
    }

    .nav-list li a {
        font-size: 19px;
    }
}

/* Dispositivos medianos (sin altura definida) */
@media screen and (max-width: 1094px) {
    .encabezado {
        height: 130px;
    }

    .logo {
        max-width: 120px;
    }

    .nav-list li a {
        font-size: 18px;
    }
}

/* Pantallas pequeñas (sin altura definida) */
@media screen and (max-width: 700px) {
    .encabezado {
        height: 110px;
    }

    .logo {
        max-width: 90px;
    }

    .nav-list li a {
        font-size: 16px;
    }
}

/* Escritorio grande (pantallas más grandes, sin altura definida) */
@media screen and (min-width: 1095px) {
    .encabezado {
        height: 170px;
    }

    .logo {
        max-width: 160px;
    }

    .nav-list li a {
        font-size: 21px;
    }
}
