/* 
    Creado por: Jesus Alejandro Lara Castro
    DIseño libreta css
 */

@import url(./estilos.css);

.libreta {
    position: relative;
    border: 0.1px solid black;
    width: 100%;
    height: auto;
    /* border-radius: 2% 2% 2% 2%; */
    background: repeating-linear-gradient(white,
            white 39px,
            #ccc 40px);

    margin: 0 auto;
    /* Centra el div horizontalmente */

    padding: 40px 40px 120px 120px;
}

.libreta h1 {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
    font-size: 80px;
}
.libreta h2{
    font-size: 60px;
    text-align: center;
}

.libreta p {
    font-size: 30px;
}
.libreta .texto-centrado{
    text-align: center;
}
.libreta .azul {
    font-size: 50px;
    color: var(--azul);
}

.libreta .linea-roja {
    position: absolute;
    top: 0;
    left: 80px;
    /* Ajusta según sea necesario */
    width: 2px;
    height: 100%;
    background-color: red;  
}

.img_libreta{
    position: relative;
    left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 1%;
    object-fit:inherit;
    margin: 90px;
    transform: rotate(-25deg);
}

.lista-en-libreta {
    font-size: 30px;
    list-style-type: circle;
}


.lista-en-libreta li {
    padding: 18px;
}

.lista-en-libreta li p {
    display: inline;
}

@media (max-width: 1094px) {
    .libreta{
        padding: 100px;
    }
    .libreta .linea-roja {
        left: 0px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        height:2px ;
        background-color: rgb(255, 0, 0);
    }   
}