.hidden { 
    overflow: hidden; 
}

.hidden--none { 
    overflow-y: auto; 
}

/* Contenedor del loader */
.centrado {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgb(255, 255, 255); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1.5s ease-in-out;
}

/* Permite desaparecer el loader */
.centrado--oculto { 
    opacity: 0; 
    pointer-events: none; 
}

/* Estilo del ícono del loader */
.centrado__icono {
    width: 300px; /* Ajusté el tamaño para que sea más manejable */
    height: 300px;
    background-image: url(../loader/geu_loader.gif);
    background-size: contain; /* Ajustado para que la imagen mantenga su aspecto original */
    background-position: center;
    background-repeat: no-repeat;
}

/* Animación del loader */
@keyframes beat {
    0%, 50%, 100% { transform: scale(1); }
    30%, 80% { transform: scale(0.92); }
}

.uk-progress {
    width: 80%;
    max-width: 500px;
    height: 10px;
    border-radius: 5px;
    appearance: none;
    z-index: 3;
    /* Fondo de la barra de progreso */
    background-color: #f0f0f0 !important; /* Garantiza que se aplique este color de fondo */

    /* Transición suave */
    &::-webkit-progress-value {
        background-color: #40A0DA !important;
        transition: width 0.4s ease !important;
    }

    &::-moz-progress-bar {
        background-color: #40A0DA !important;
        transition: width 0.4s ease !important;
    }

    &::-ms-fill {
        background-color: #40A0DA !important;
        transition: width 0.4s ease !important;
    }
}


