.hidden { 
    overflow: hidden; 
}

.hidden--none { 
    overflow-y: auto; 
}

/* Contenedor del loader */
.centrado {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgb(255, 255, 255); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    pointer-events: unset;
    transition: opacity 5s ease-in-out;
}

/* Permite desaparecer el loader */
.centrado--oculto { 
    opacity: 0; 
    pointer-events: none; 
}

/* Estilo del ícono del loader */
.centrado__icono {
    width: 100px; /* Ajusté el tamaño para que sea más manejable */
    height: 100px;
    background-image: url(../loader/geu_loader.gif);
    background-size: contain; /* Ajustado para que la imagen mantenga su aspecto original */
    background-position: center;
    background-repeat: no-repeat;
}

/* Animación del loader */
@keyframes beat {
    0%, 50%, 100% { transform: scale(1); }
    30%, 80% { transform: scale(0.92); }
}
