@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
	overflow-x: hidden;
	overflow-y: auto;
}

html,
body {
	height: 100%;
}

body {
	background:#fff !important;
	color: #87919F;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	line-height: 23px;
	margin: 0;
}

body.gray-bg{
	background-image: url(../img/fondo.png) !important;
	background-repeat: repeat;
}

div.body {
	width: 100%;
	background:rgba(249,249,249,1);
}

.justify{
	text-align:justify;
}

.blue{
	color:#7A468F;
}

.wrapper-inner{
	background:#FFF url(../img/notebook.jpg) repeat-y;
	max-width:1170px;
	margin:0px auto;
	-webkit-box-shadow: -2px 0px 10px 0px rgba(50, 50, 50, 0.33);
	-moz-box-shadow:    -2px 0px 10px 0px rgba(50, 50, 50, 0.33);
	box-shadow:         -2px 0px 10px 0px rgba(50, 50, 50, 0.33);
	padding:30px 0 30px 0px;
	border-radius:5px;
}

.navy{
	background-color: #7A468F;
}

/* Header */
header {
	clear: both;
	background: #fff;
	padding: 1px 0 17px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1001;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 6px solid #986CA9;
	font-family: 'Open Sans', sans-serif;
}

/* Sticky Menu */
body.no-page-top {
	background:none;
}

body {
	padding-top: 89px;
}

body.header-top {
	padding-top: 112px;
}

body.sticky-menu-active header {
	padding: 2px 0 2px;
}

body.sticky-menu-active header h1 {
    margin: 7px -32px -17px 0;
    padding: 10px 30px;
}

header > .container {
	position: relative;
}

body.header-top.sticky-menu-active header {
	padding: 12px 0 2px;
}

body.sticky-menu-down.header-top.sticky-menu-active header {
	top: -40px;
}

/* Header Top */
header div.header-top a {
	background: rgba(249,249,249,1);
	width: 100%;
	z-index: 1002;
	margin: 0px 0 12px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

body.sticky-menu-active header div.header-top {
	margin-bottom: 0;
}

header div.header-top p {
    float: left;
    font-size: 0.9em;
    line-height: 50px;
    margin: 0;
}

header div.header-top ul.social-icons {
	float: right;
	list-style: none;
	margin: 0 0 0 25px;
	padding: 0;
	position: relative;
	top: 11px;
	right: 11px;
}

header div.header-top ul.social-icons li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

header div.header-top ul.social-icons li a {
	display: inline-block;
	width: 28px;
	color: #2D343E;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

header div.header-top i.icon {
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

header div.header-top nav i.icon {
	top: 0;
}

header div.header-top nav {
	float: right;
	position:relative;
	top:25px;
}

header div.header-top nav ul.nav-top li{
	padding-right:5px;
}

header div.header-top nav ul.nav-top li a,
header div.header-top nav ul.nav-top li span {
	background:#7A468F;
	color:#fff;
	font-size: 0.9em;
	padding: 3px;
	font-weight:700;
}

header div.header-top nav ul.nav-top li a:before {
	display: none;
}

header div.header-top.color nav ul.nav-top li a,
header div.header-top.color nav ul.nav-top li span,
header div.header-top.color ul.social-icons li a {
	color: #FFF;
}

/* Responsive Nav Button */
button.btn-responsive-nav {
	display: none;
}

/* Logo */
header h1.logo {
	display: block;
	float: left;
	height: 100%;
	margin: 7px -32px -50px 0;
	padding:10px 10px 0px;
	z-index: 100;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

header h1.logo a {
	position: relative;
	z-index: 1;
}

header h1.logo img {
	position: relative;
	color: transparent;
}

/* Navigation */
header nav.nav-main {
	float: right;
}

header div.nav-main-collapse {
	float: right;
	margin-top: 50px;
}

header div.nav-main-collapse,
header div.nav-main-collapse.in {
	overflow-y: visible;
}

header div.nav-main-collapse.in {
	overflow-y: visible;
	float: none;
	margin: 0;
}

header nav ul.nav-main {
	margin: -7px 10px 0px 0px;
}

header nav ul.nav-main i.icon-caret-down {
	background: transparent;
	border-radius: 100%;
	color: #7A468F;
	display: inline-block;
	font-size: 12px;
	height: 14px;
	line-height: 15px;
	position: relative;
	text-align: center;
	top: -1px;
	width: 14px;
}

header nav ul.nav-main > li + li {
	margin-left: -4px;
}

header nav ul.nav-main .dropdown-submenu {
	position: relative;
}

header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
}

header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

header nav ul.nav-main .dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #CCC;
	margin-top: 5px;
	margin-right: -10px;
}

header nav ul.nav-main .dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}

header nav ul.nav-main .dropdown-submenu.pull-left {
	float: none;
}

header nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

header nav ul.nav-main ul.dropdown-menu,
header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a {
	background-color: transparent;
}

header nav ul.nav-main ul.dropdown-menu {
	-moz-border-radius: 0px;
	-moz-box-shadow: 0 0 0;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0 0 0;
	border: 0;
	border-radius: 0px;
	box-shadow: 0 0 0;
	margin: 0;
	padding: 10px 5px;
	top: auto;
	background: #7a468f;
}

header nav ul.nav-main ul.dropdown-menu li:hover > a {
	filter: none;
	background: #986CA9;
}

/* Sub Menu */

header nav ul.nav-main ul.dropdown-menu > li > a {
	color:#212c3e;	
	font-weight: 400;
	padding-bottom: 4px;
	padding-top: 4px;
	text-transform: none;
	position: relative;
	padding: 8px 20px 8px 12px;
	font-size: 0.8em;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

header nav ul.nav-main ul.dropdown-menu > li > a:hover {
	color:#fff;
	padding-left: 16px;
	padding-right: 16px;
}

header nav ul.nav-main ul.dropdown-menu li:last-child > a {
	border-bottom: 0;
}

/*
	Menu
*/

header nav ul.nav-main li a {
	background: none;
	font-style: normal;
	line-height: 20px;
	position: relative;
	font-size: 0.8em;
}

header nav ul.nav-pills > li > a{
	color: #602975;
	padding:6px;
}

header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a,
header nav ul.nav-main li > a:hover,
header nav ul.nav-main li.dropdown:hover a {
	color: #fff;
	background:#7a468f;
}

header nav ul.nav-main li.dropdown  ul.dropdown-menu  li.dropdown-submenu:hover a {
	color:#fff;
}

header nav ul.nav-main li.dropdown  ul.dropdown-menu  li.dropdown-submenu ul.dropdown-menu li a {
	color: #fff;
}

header nav ul.nav-main li.dropdown  ul.dropdown-menu  li.dropdown-submenu ul.dropdown-menu li a:hover {
	color: #fff;
}

header nav ul.nav-pills > li.active > a,
header nav ul.nav-pills > li.active > a:hover,
header nav ul.nav-pills > li.active > a:focus {
	background: none;
	border: 0;
}

header nav ul.nav-main li ul a {
	text-transform: none;
	font-weight: normal;
	font-size: 0.9em;
}

header nav ul.nav-main li.dropdown:hover > a {
	position: relative;
}

header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
	border-radius:0px;
}

header nav ul.nav-main li.dropdown:hover > ul {
	display: block;
}

/* Big Logo */
header.big-logo h1.logo {
	position:relative;
	top:0px;
	margin-top: -70px;
	padding-top: 60px;
}

body.header-top.sticky-menu-active header {
	top: -40px !important;
}

body.sticky-menu-active header.big-logo h1.logo {
    margin: -25px -32px -17px 0;
    padding: 10px 30px;
}

header.big-logo div.header-top {
	background:none;
	margin-top: -16px;
	margin-bottom: -10px;
}

body.sticky-menu-active header.big-logo div.header-top {
	opacity: 0;
}

header.big-logo div.header-top p {
	float: right;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 20px;
}

section.home-top {
	background-image: url(../img/home-bg.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	margin-bottom: 60px;
	margin-top: -65px;
	position: relative;
}

section.home-top.with-carousel {
	min-height: 1171px;
}

section.home-top-clean {
	position: relative;
}

/* Main Carousel */
div.main-carousel {
    margin-top: -60px;
    overflow: hidden;
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
    visibility: hidden;
    width: 100%;
}

/* Main Carousel - Basic */
div.main-carousel .owl-controls {
	text-align: right;
	position: absolute;
	bottom: -165px;
	right: 15px;
}

div.main-carousel .owl-pagination {
	visibility: hidden;
}

div.main-carousel .owl-buttons {
	display: none;
}

div.main-carousel .owl-carousel .owl-wrapper-outer {
	overflow: visible;
}

div.main-carousel .owl-carousel .owl-item > div {
	position: relative;
	padding: 10px;
}

/* Main Carousel - Overlay */
div.main-carousel div.carousel-overlay {
	position: absolute;
	top: -15%;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -100px;
	height: 115%;
	display: none;
	background: transparent;
	z-index: 10;
}

/* Main Carousel - Images */
div.main-carousel .img-thumbnail {
	padding: 13px;
	min-width: 250px;
}

div.main-carousel .img-thumbnail,
div.main-carousel .img-thumbnail img,
div.main-carousel a.thumb-info,
div.main-carousel a.thumb-info span.thumb-info-image:before  {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

/* Main Carousel - Nav */
div.main-carousel a.carousel-nav {
	width: 70px;
	position: absolute;
	top: 50%;
	left: 10px;
	bottom: 0;
	background: #F7F9FC;
	height: 70px;
	z-index: 11;
	display: block;
	filter: alpha(opacity=100);
	opacity: 100;
	padding: 0;
	border-top: 0;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 22px;
	color: #787F89;
	line-height: 68px;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.main-carousel a.carousel-nav:hover {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

div.main-carousel a.carousel-nav.next {
	left: auto;
	right: 10px;
}

/* Main Carousel - Nav Overlay */
div.main-carousel div.carousel-nav-overlay.prev,
div.main-carousel div.carousel-nav-overlay.next {
	width: 90px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: transparent;
	height: 100%;
	z-index: 10;
}

div.main-carousel div.carousel-nav-overlay.next {
	left: auto;
	right: 0;
}

/* Main Carousel - Clone */
div.main-carousel div.carousel-clone {
	position: absolute;
	top: 120px;
	width: 100%;
	left: 0;
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-filter: blur(3px);
}

div.main-carousel div.carousel-clone div.owl-carousel {
	filter: alpha(opacity=0) !important;
	opacity: 0 !important;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

div.main-carousel div.carousel-clone div.owl-carousel.owl-carousel-init {
	filter: alpha(opacity=22) !important;
	opacity: 0.22 !important;
}

div.main-carousel div.carousel-clone .img-thumbnail {
	background: #EDEDED;
}

div.main-carousel div.carousel-clone-overlay {
	position: absolute;
	top: -18%;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -100px;
	height: 120%;
	background: transparent;
}

/* Carousel - Tooltip */
div.main-carousel-tooltip {
	background: #222831;
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 10px;
	color: #C7CDD3;
	width: 200px;
	text-align: center;
	min-height: 35px;
	z-index: 10;
	font-size: 0.9em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.main-carousel-tooltip:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #222831;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -10px;
}

/* Home Player */
div.home-player {
	background: #EDEFF2;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
	position: relative;
	top: 45px;
	visibility: hidden;
}

div.home-player.visible {
	visibility: visible;
}

div.home-player a.home-player-icon {
	font-size: 80px;
	display: block;
	-webkit-transform: translate3d(0, 0, 0); /* Avoid chrome moving element when navigating through carousel */
}

div.home-player a.home-player-icon i.icon {
	-webkit-text-stroke: 0.5px;
}

/* Main */
div.main {
	background-color: transparent !important;
	padding: 0;
}

div.main:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* Section Featured */
section.featured {
	background: #D0D6DF;
	border-bottom: 5px solid #B5BBC4;
	margin: 15px 0;
	padding: 40px 0 0;
	clear: both;
}

section.featured.footer {
	margin: 10px 0 -20px;
}

section.featured.footer.call-to-action {
	margin-top: 65px;
}

/* Section Highlight */
section.highlight {
	background: #CCC;
	boder-left: 0;
	boder-right: 0;
	border: 3px solid #CCC;
	margin: 35px 0 45px;
	padding: 40px 0;
	clear: both;
}

section.highlight div.img-thumbnail {
	background-color: #FFF;
}

section.highlight,
section.highlight > p,
section.highlight > a,
section.highlight h1,
section.highlight h2,
section.highlight h3,
section.highlight h4,
section.highlight h5 {
	color: #FFF;
}

section.highlight.footer {
	margin: 45px 0 -45px;
}

section.highlight.top {
	margin-top: 0;
}

section.highlight div.counters strong {
	color: #FFF;
}

section.highlight + section.parallax {
	margin-top: -45px;
}

section.highlight.footer + section.parallax {
	margin-top: 45px;
}

/* Call To Action */
section.call-to-action {
	position: relative;
	clear: both;
	overflow: hidden;
	background: #C9D0DA;
	padding-left: 35px;
	padding-right: 35px;
	border-bottom: 3px solid #B6BDC7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

section.call-to-action h3 {
	text-transform: none;
	color: #121212;
}

section.call-to-action h3 .btn {
	margin-left: 10px;
}

/* Sidebar */
aside h5 {
	font-size: 1.1em;
	letter-spacing: 1px;
	color: #777;
	margin-bottom: 15px;
	margin-top: 20px;
}

aside hr {
	margin: 22px 0;
	visibility: hidden;
}

/* Parallax */
.parallax {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	margin: 70px 0;
	padding: 80px 0;
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.parallax.parallax-init {
	filter: alpha(opacity=100);
	opacity: 1;
}

.parallax.parallax-top {
	margin-top: -57px;
}

.parallax.disabled {
	background-size: auto;
}

/* Parallax Testimonials */
.parallax blockquote {
	border: 0;
	padding: 0 10%;
}

.parallax blockquote i.icon-quote-left {
	font-size: 34px;
	position: relative;
	left: -5px;
}

.parallax blockquote p {
	font-size: 24px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #3F3F3F;
}

.parallax blockquote span {
	color: #555;
	font-size: 16px;
	font-weight: 300;
	left: -5px;
	line-height: 20px;
	position: relative;
}

/* Home Slider - Revolution Slider */
div.slider-container {
	background: #666;
	max-height: 580px;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
}

div.slider-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.slider > ul > li > img {
	visibility: hidden;
}

div.slider {
	max-height: 580px;
	position: relative;
}

div.slider div.slider-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: transparent;
	filter: alpha(opacity=75);
	opacity: 0.75;
}

div.slider-container-fullscreen,
div.slider-container-fullscreen div.slider {
	max-height: none;
}

div.slider div.tp-bannertimer {
	display: none;
}

div.slider-container {
	background: transparent;
}

div.slider-container div.tp-caption {
	filter: alpha(opacity=0);
	opacity: 0;
}

.tp-bannershadow {
	display: none;
}

div.slider-container div.tp-caption a,
div.slider-container div.tp-caption a:hover {
	color: #FFF;
}

div.slider a.main-button {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 55px;
}

/* Revolution Slider - Basics */
div.slider-container .tp-caption.fullscreenvideo {
	left: 0 !important;
}

/* Revolution Slider - Captions */
div.slider-container div.top-label {
	color: #9a9a9a;
	font-size: 32px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	-webkit-text-stroke: 0.2px;
}

div.slider-container div.top-label.md {
	font-size: 28px;
	-webkit-text-stroke: 0;
}

div.slider-container div.main-label {
	color: #222831;
	font-size: 130px;
	line-height: 150px;
	font-weight: 900;
	-webkit-text-stroke: 0.6px;
}

div.slider-container div.main-label.md {
	font-size: 100px;
	line-height: 100px;
}

div.slider-container div.bottom-label {
	color: #666;
	font-size: 20px;
	font-weight: 100;
	-webkit-text-stroke: 0.2px;
}

div.slider-container div.bottom-label.md {
	font-size: 16px;
	line-height: 16px;
}

div.slider-container div.top-line {
	height: 1px;
	width: 200px;
	background: #B7BDC0;
}

div.slider-container.light div.top-label,
div.slider-container.light div.main-label,
div.slider-container.light div.bottom-label,
div.slider-container.light div.tp-caption a,
div.slider-container.light div.tp-caption a:hover {
	color: #333;
}

div.slider-container div.top-label.white,
div.slider-container div.main-label.white,
div.slider-container div.bottom-label.white,
div.slider-container div.tp-caption a.white,
div.slider-container div.tp-caption a.white:hover {
	color: #FFF;
}

div.slider-container div.top-label.dark,
div.slider-container div.main-label.dark,
div.slider-container div.bottom-label.dark,
div.slider-container div.tp-caption a.dark,
div.slider-container div.tp-caption a.dark:hover {
	color: #444;
}

div.slider-container div.top-label.text-bg,
div.slider-container div.main-label.text-bg,
div.slider-container div.bottom-label.text-bg,
div.slider-container div.tp-caption a.text-bg,
div.slider-container div.tp-caption a.text-bg:hover {
	padding: 10px;
}

/* Page Top */
section.page-top {
	padding: 5px 0px 3px 0px;
	position: relative;
	text-align:right;
	margin-top:24px;
}

section.page-top ul.breadcrumb {
	background: none;
	margin: -3px 0 0;
	padding: 0;
}

section.page-top ul.breadcrumb > li a{
	text-shadow: none;
	color:#FFF;
	text-decoration:none;
}

section.page-top h2 {
	color: #FFF;
	display: inline-block;
	font-weight: 200;
	margin: 0 0 -25px;
	min-height: 37px;
	padding: 0 0 17px;
	position: relative;
	font-size:20px;
}

/* Page 404 */
section.page-not-found {
	margin: 50px 0;
}

section.page-not-found h2 {
	font-size: 140px;
	font-weight: 600;
	letter-spacing: -10px;
	line-height: 140px;
}

section.page-not-found h4 {
	color: #87919F;
}

section.page-not-found p {
	font-size: 1.4em;
	line-height: 36px;
}

div.page-not-found-main {
	margin-top: 25px;
	text-align: center;
}

section.page-top.basic {
	background: #2D343E;
	margin: -55px 0 50px;
	padding-top: 50px;
}

section.page-top.basic div.page-top-info h2 {
	margin-bottom: 25px;
	padding: 0;
}

section.page-top.basic div.page-top-info ul.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0 0 0 5px;
}

/* Footer */
footer {
	background:#7a468f;
	font-size: 0.9em;
	padding: 20px 0 0;
	position: relative;
	clear: both;
}

footer div.container input:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Social Icons */
footer ul.social-icons {
	clear: both;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.social-icons li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

footer ul.social-icons li i{
	font-size:1.7em;
	padding:7px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

footer ul.social-icons li i:hover{
	background:#FFF;
	color:#7a468f;
	-moz-transition: all .35s ease-out;
	-o-transition: all .35s ease-out;
	-webkit-transition: all .35s ease-out;
	transition: all .35s ease-out;
}

/* Contact */
footer ul.contact {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.contact li {
	clear: both;
}

footer ul.contact i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

footer ul.contact i.icon-envelope {
	font-size: 1em;
	top: 0;
}

footer ul.contact p {
	margin-bottom: 0px;
}

/* Footer Logo */
footer a.logo {
	display: block;
}

footer a.logo.push-bottom {
	margin-bottom: 12px;
}

footer form {
	filter: alpha(opacity=85);
	opacity: 0.85;
}

footer h1,
footer h2,
footer h3,
footer a {
	color: #FFF !important;
}

footer h5 {
	color: #CCC !important;
}

footer p {
	color: #fff;
}

footer a:hover {
	color: #CCC;
}

footer h4 {
	font-size: 2em;
	font-weight: 200;
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
}

/* Copyright */
div.footer-copyright {
	background: none;
	margin-top: 10px;
	padding: 10px 0 10px;
}

div.footer-copyright nav {
	float: right;
}

div.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

div.footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

div.footer-copyright p {
	color: #fff;
	margin: 0;
	padding: 0;
}

footer div.alert a {
	color: #222 !important;
}

footer div.alert a:hover {
	color: #666 !important;
}

footer span.phone {
	color: #FFF;
	font-size: 26px;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	margin-top: -5px;
}

footer.short {
	padding-top: 50px;
}

footer ul.nav-list.primary > li a {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	line-height: 20px;
	padding-bottom: 11px;
}

footer ul.nav-list.primary > li a:hover {
	background-color: rgba(255,255,255,0.05);
	padding-left: 12px;
}

footer ul.list.icons li {
	margin-bottom: 5px;
}

.container_frame{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.container_frame iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar{
	position:relative;
	display:block;
	margin:0 auto;
	padding:0;
}

.calendar img{
	width:100%;
}

.container_img{
	position:relative;
	display:block;
	margin:0 auto;
	padding:0;
}

.container_img img{
	width:100%;
}

.shadow{
	-webkit-box-shadow: -2px 0px 10px 0px rgba(50, 50, 50, 0.33);
	-moz-box-shadow:    -2px 0px 10px 0px rgba(50, 50, 50, 0.33);
	box-shadow:         -2px 0px 10px 0px rgba(50, 50, 50, 0.33);
}

/*
	custom_grid
*/

#custom_grid{
	max-width:1100px;
	margin:0 auto 60px;
}
#custom_grid-list{
	display:table;
	text-align:center;
	margin:0 auto;
}
#custom_grid article{
	width:240px;
	display:inline-block;
	margin:10px;
	vertical-align:top;
}
#custom_grid article .image{
	width:240px;
	height:160px;
	background:#FFF;
	display:block;
	border-radius:8px;
}
#custom_grid article .text h2{
	font-size:16px;
	line-height:18px;
	padding-bottom:5px;
	font-weight:600;
	margin:0;
	text-shadow:0 1px 0 #fff;
}
#custom_grid article .text h3{
	font-size:12px;
	line-height:18px;
	text-shadow:0 1px 0 #fff;
	color:#444;
}

.grid_element {
	display:inline-block;
	width:240px;
	height:160px;
	position:relative;
	border-radius:8px;
	margin:10px;
	vertical-align:top;
	background:#FFF;
	border:solid 1px #CCCCCC;
}
	
.grid_element-wrapper {
	display:block;
	width:100%;
	height:100%;
}

.grid_element img {
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	cursor:pointer;				
}

.grid_element .grid_element-detail {
	display:block;
	width:100%;
	height:100%;
	position:absolute;			
	background: url(../img/panel-bg.png) repeat;
	border-radius:8px;
}

.grid_element .grid_element-detail p{

	font-weight:bold;
	font-size:15px;	
	color:#FFF;
	line-height:14px;
	text-align:left;
	padding-top:5px;
	padding-left:10px;
}

.grid_element .grid_element-detail ul{
	list-style:disc;
	margin-left:20px;
}

.grid_element .grid_element-detail li{
	font-size:14px;	
	color:#FFF;
	text-align:left;
	line-height:14px;
}

.grid_element .grid_element-detail a {
	display:block;
	text-decoration:none;		
	letter-spacing:-1px;		
	font-size:13px;
	color:#FFF;
	width:35%;
	margin-left:auto;
	margin-right:auto;
}		

.modern {
  display: inline-block;

  padding: 6px 0px;
  background: #602975;
  border: 1px solid #602975;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.embossed-link {
  box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}
		
.modern.embossed-link {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.15), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.modern.embossed-link:active {
  box-shadow: 
    inset 0 -2px 1px rgba(255,255,255,0.2),
    inset 0 3px 2px rgba(0,0,0,0.12);
}

.grid_element.scroll {
  overflow: hidden;
}	

.grid_element.scroll .grid_element-detail {
	bottom:-170px;
}

form {
  margin: 0 0 18px;
}

.input-large {
  width: 280px;
}

/* Estilo para Input Text */

input[type='text'] {
	padding: 3px;
	vertical-align:middle; 
	
	height:30px;
	background:url(../img/input.png) repeat-x 0 0;
	
	border: 1px solid #999;
	-moz-box-shadow: inset 0 0 3px #888; /* Firefox */
	-webkit-box-shadow: inset 0 0 3px #888; /* Safari y Chrome */
	box-shadow: inset 0 0 3px #888; /* CSS3 */

	-webkit-border-radius: 5px; /* Para Safari y Chrome */
    -moz-border-radius: 5px; /* Para Firefox */
    -khtml-border-radius: 5px; /* Navegadores de Linux */
    border-radius: 5px; /* CSS3 */
	margin-bottom:10px;
}

/*
	TextArea
*/	

textarea{
	padding: 3px;
	vertical-align:middle; 
	
	border: 1px solid #999;
	-moz-box-shadow: inset 0 0 3px #888; /* Firefox */
	-webkit-box-shadow: inset 0 0 3px #888; /* Safari y Chrome */
	box-shadow: inset 0 0 3px #888; /* CSS3 */

	-webkit-border-radius: 5px; /* Para Safari y Chrome */
    -moz-border-radius: 5px; /* Para Firefox */
    -khtml-border-radius: 5px; /* Navegadores de Linux */
    border-radius: 5px; /* CSS3 */
	margin-bottom:10px;
}


/* Estilo para Input Submit */
input[type='submit'], input[type='submit']:hover {
	/*e94f88*/
	height:35px; 
	color:#fff; 
	background:#602975; 
	cursor:pointer; 
	border:none; 
	font-size:20px; 
	letter-spacing:1px; 
	vertical-align:middle;
	padding: 3px 20px 3px 20px;

	-webkit-border-radius: 5px; /* Para Safari y Chrome */
    -moz-border-radius: 5px; /* Para Firefox */
    -khtml-border-radius: 5px; /* Navegadores de Linux */
    border-radius: 5px; /* CSS3 */
	-webkit-box-shadow: inset 0 0 10px #999; /* Firefox */
	-moz-box-shadow: inset 0 0 10px  #999; /* Safari y Chrome */
	box-shadow: inset 0 0 10px #999; /* CSS3 */
}	

label {
	font-size:1.2em; 
	color:#212c3e;
}

.container-responsiveslide{
	max-width:1140px;
	margin:30px auto 30px auto;
	padding:3px;
	background:#FFF;
}

.grupo_plecas{
	float:right;
	position:relative;
	right:0;
	z-index:0;
	margin-left:0;
	padding:0;
	margin-right:0;
	top:-250px;
	margin-bottom:-250px;
	display:block;
}

.grupo_plecas img{
	z-index:0;
}

.google-map{
	position:relative;
	top:-20px;
}

.barra_rosa{
	position:relative;
	display:block;
	background:rgba(221,43,137,1);
	width:100%;
	height:auto;
	text-align:center;
}

.barra_rosa h2{
	color:#FFF;
	font-size:2em;
}

.lost h1{
	text-align:center;
	font-size:15em;
	line-height:1em;
	color:rgba(20,40,59,1);
}

.lost p{
	font-size:1.5em;
	text-align:justify;
	color:rgba(20,40,59,1);
}

.lost a{
	font-size:1.2em;
	text-align:justify;
	color:rgba(20,40,59,1);
}

.polaroid {
	padding:10px 10px 20px 10px;
	background: #fff;               
	box-shadow: 0 2px 5px #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align:center;
	margin-bottom:20px;
}

.polaroid img{
	margin:0 auto;
}

.polaroid a{
	text-decoration:none;
}

.polaroid a::after{
	content:attr(title);
	color:#000000;
	position:relative;
	top:5px;
}

.extracurricular{
	background:#986CA9;
	color:#FFFFFF;
}

.post_blog{
    text-align:center;
    width:80%;
    margin-top:5%;
    margin-left:7%;
    position:absolute; 
    line-height:1.4em;
}        

.post_blog a{
    font-size:1.3em;
    font-weight:700;
    color:#FFFFFF !important;
    text-decoration:none;
    cursor:pointer;
    text-shadow: 4px 2px 2px #000000;
}  

@media (max-width: 991px) {
    .post_blog a{
        font-size:2.5em;
        line-height:1em;
    }  
}

@media (max-width: 767px) {
    .post_blog a{
        font-size:2em;
        line-height:1em;
    }  
}

@media (max-width: 479px) {
    .post_blog a{
        font-size:1.3em;
        line-height:1em;
    }  
}