/* Estilos para el contenedor principal del carrusel */
#contenedorCarruselConAnimacion {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  /* Estilos para el contenedor de las imágenes */
  #contenedorImagenesCarrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  /* Estilos para cada imagen */
  .imagenCarrusel {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Estilos para los controles del carrusel (botones) */
  #botonesCarruselContenedor {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  #botonIzquierdaCarrusel, #botonDerechaCarrusel {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #botonIzquierdaCarrusel:hover, #botonDerechaCarrusel:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Estilos para los indicadores de imagen */
  #indicadoresCarruselContenedor {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .indicadorCarrusel {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .indicadorCarruselActivo {
    background-color: white;
  }